div#content {
  width:960px;
  margin:0px auto;
  text-align:left;
  padding:15px;
  border:1px dashed #333;
  background-color:#eee;
}

div#myfeed {
  float:left;
}

div#theirfeeds {
  float:right;
}